
:root{
    --dark--:#113946;
    --light--:#ead7bb;
}
body{
    font-family: "Poppins", sans-serif;
}

/* productdatails */
.pimg{
    width: 150px;
    height: 150px;
     border-radius: 8px;
     background-color: var(--dark--);
    margin-top: 30px;
    margin-left: 90px;
    
}

.p-details{
    border: 3px solid var(--dark--);
     border-radius: 15px;
    width: 330px;
    margin-top: 30px;
    height: 340px;
    box-shadow: 5px 5px 5px grey;
    
    

}
.p-details:hover{
    border-radius: 8%;
    /* background-color: var(--light--); */
}
.ptitle,.pprice{
    text-align: center;
    color: black;
    font-size:14px;
    margin-top: 0px;
    font-weight: bold;
  word-spacing: 2px;
   
}
.pprice{
    color: green;
}
.pbtn{
    font-size: 15px;
    background-color: var(--dark--);
    color: var(--light--);
    border: none;
    text-transform: capitalize;
    border-radius: 10px;
    
    padding: 8px;
    display: block;
    margin: 0 auto;
}
.removepbtn{
    font-size: 15px;
    background-color: red;
    color: whitesmoke;
    border: none;
    text-transform: capitalize;
    border-radius: 10px;
    
    padding: 8px;
    display: block;
    margin: 0 auto;

}
.pbtn:hover{
    border: 2px solid yellowgreen;
}
@media (max-width:700px){
    .pimg{
        width: 80px;
        height: 80px;
         border-radius: 8px;
         background-color: var(--dark--);
        margin-top: 20px;
        margin-left: 55px;
        
    }
    .p-details{
        border: 3px solid var(--dark--);
         border-radius: 15px;
        width: 190px;
        margin-top: 10px;
        height: 270px;
        box-shadow: 5px 5px 5px grey;
        
        
    
    }
    .ptitle,.pprice{
        text-align: center;
        color: black;
        font-size:13px;
        margin-top: 10px;
        font-weight: bold;
      word-spacing: 2px;
       
    }
    .pprice{
        color: green;
    }
    
}














